/* FONTS */
/* BASE */
/*  Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 3, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 11, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 14, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
body {
  line-height: 1; }

/* line 17, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 20, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 24, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 28, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_base.scss */
body {
  background: #05a7c3;
  background: -moz-linear-gradient(top, #05a7c3 0%, #0db6b1 50%, #07abc0 100%);
  background: -webkit-linear-gradient(top, #05a7c3 0%, #0db6b1 50%, #07abc0 100%);
  background: linear-gradient(to bottom, #05a7c3 0%, #0db6b1 50%, #07abc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05a7c3', endColorstr='#07abc0',GradientType=0 );
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* line 14, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/scss/base/_base.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* STATES */
/* line 1, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/states/dashboard/views/_dashboard.scss */
.dashboard {
  position: relative;
  background-color: #fff;
  width: 1100px;
  margin: 0 auto;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f2f2f; }
  /* line 14, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/states/dashboard/views/_dashboard.scss */
  .dashboard .dashboard__col-left, .dashboard .dashboard__col-right {
    float: left;
    position: relative;
    min-height: 50px; }
  /* line 19, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/states/dashboard/views/_dashboard.scss */
  .dashboard .dashboard__col-left {
    width: 350px;
    margin-left: 30px;
    margin-right: 20px; }
  /* line 24, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/states/dashboard/views/_dashboard.scss */
  .dashboard .dashboard__col-right {
    width: 670px;
    margin-right: 30px; }
  /* line 29, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/states/dashboard/views/_dashboard.scss */
  .dashboard .divider {
    width: 100%;
    height: 2px;
    background-color: #ededed; }

/* COMPONENTS */
/* line 1, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
dashboard-table {
  display: block;
  /* Animation */ }
  /* line 5, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .heading {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 36px; }
  /* line 14, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .shearch {
    position: relative;
    margin-bottom: 16px;
    margin-left: 4px; }
  /* line 19, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .shearch:after {
    content: '';
    position: absolute;
    background-image: url(../../images/icon-loupe.png);
    top: 6px;
    left: 7px;
    width: 24px;
    height: 26px; }
  /* line 28, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .shearch__input {
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #99a7b7;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 225px; }
  /* line 41, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .availability {
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #99a7b7;
    text-transform: uppercase; }
  /* line 53, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .table {
    font-size: 13px; }
  /* line 56, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody {
    height: 350px;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  /* line 61, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__row {
    margin-bottom: 5px;
    margin-right: 12px;
    border-bottom: 1px #ccc solid; }
  /* line 66, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__row--active {
    color: #fff;
    background-color: #50c14e; }
  /* line 73, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item, dashboard-table .thead__item {
    display: inline-block;
    width: 107px; }
  /* line 77, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item:first-child, dashboard-table .thead__item:first-child {
    padding-left: 15px;
    padding-right: 15px; }
  /* line 81, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item {
    height: 40px;
    line-height: 40px;
    vertical-align: middle; }
  /* line 86, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item--language {
    width: 120px; }
  /* line 89, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .thead__item {
    color: #99a7b7;
    margin-bottom: 25px;
    margin-top: 10px; }
  /* line 94, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item--id, dashboard-table .thead__item--id {
    text-transform: uppercase;
    width: 30px; }
  /* line 98, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__item--remove {
    width: 25px;
    margin-left: 5px;
    height: 20px;
    line-height: 20px; }
  /* line 107, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__input, dashboard-table .tbody__select {
    width: 90%;
    margin-right: 10%;
    border-radius: 3px;
    border: 0; }
  /* line 113, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__input--error {
    box-shadow: 0 0 0 1px #ce0000; }
  /* line 116, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__select {
    padding: 3px; }
  /* line 119, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__input {
    padding: 4px; }
  /* line 122, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__remove-btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: none;
    background-image: url(../../images/icon-remove.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px; }
  /* line 132, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__row--active .tbody__remove-btn {
    background-position: -20px 0; }
  /* line 137, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__row.ng-enter {
    opacity: 0;
    color: #fff;
    background-color: #50c14e;
    transition: all 2s ease; }
  /* line 143, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table/styles/_dashboard-table.scss */
  dashboard-table .tbody__row.ng-enter-active {
    opacity: 1;
    color: #000;
    background-color: #fff; }

/* line 4, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .heading {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 42px; }

/* line 12, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table {
  font-size: 13px; }

/* line 15, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__col {
  position: relative;
  padding-bottom: 41px;
  width: 110px; }

/* line 20, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__label:first-child {
  margin-right: 7px; }

/* line 23, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__input-text {
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 5px; }

/* line 28, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__input-radio {
  position: relative;
  top: 2px; }

/* line 32, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__error-text {
  position: relative;
  top: 10px;
  display: block;
  color: #ce0000; }

/* line 39, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__submit-btn {
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #50c14e;
  padding: 8px 21px 8px 21px;
  border: 0;
  text-decoration: none; }

/* line 52, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__submit-btn:hover {
  background: #56c752;
  text-decoration: none; }

/* line 56, C:/wamp/www/portfolio/deployment-to-live/userdashboard/app/components/dashboard-table-inputs/styles/_dashboard-table-inputs.scss */
dashboard-table-inputs .table__submit-btn--disabled {
  cursor: default;
  opacity: 0.3; }

/*# sourceMappingURL=style.css.map */