
<div class="availability">{{vm.users.length}} entries available</div>
<h2 class="heading">User details</h2>

<div class="shearch">
  <input class="shearch__input" type="search" ng-model="vm.search"  placeholder="Shearch">
</div>


<div class="table">
  <div class="thead">
    <div class="thead__item">First Name</div>
    <div class="thead__item">Last Name</div>
    <div class="thead__item">Username</div>
    <div class="thead__item">Gender</div>
    <div class="thead__item">Language</div>
  </div>
  <form name="userTable" novalidate>
    <div class="tbody" vs-repeat>

      <div
         class="tbody__row"
         ng-repeat="user in vm.users | filter: vm.search track by user.id">
        <!-- tbody__row--active -->
        <div  class="tbody__item">
          <input
                 name="uFirstName{{::user.id}}"
                 ng-model-options="{updateOn: 'blur'}"
                 ng-change="vm.update({id: user.id, first_name: user.first_name})"
                 type="text"
                 class="tbody__input"
                 ng-model="user.first_name"
                 ng-class="{ 'tbody__input--error' : userTable.uFirstName{{::user.id}}.$invalid }"
                 required
                 ng-minlength="2"
                 ng-maxlength="15"
            >
        </div>
        <div class="tbody__item">
          <input
                 name="uLastName{{::user.id}}"
                 ng-model-options="{updateOn: 'blur'}"
                 ng-change="vm.update({id: user.id, last_name: user.last_name})"
                 type="text"
                 ng-model="user.last_name"
                 class="tbody__input"
                 ng-class="{ 'tbody__input--error' : userTable.uLastName{{::user.id}}.$invalid }"
                 required
                 ng-minlength="2"
                 ng-maxlength="15"
          >
        </div>
        <div class="tbody__item">
          <input
                 name="uUsername{{::user.id}}"
                 ng-model-options="{updateOn: 'blur'}"
                 ng-change="vm.update({id: user.id, user_name: user.user_name})"
                 type="text"
                 ng-model="user.user_name"
                 class="tbody__input"
                 ng-class="{ 'tbody__input--error' : userTable.uUsername{{::user.id}}.$invalid }"
                 required
                 ng-minlength="2"
                 ng-maxlength="15"
          >
        </div>
        <div class="tbody__item">
          <select
                  name="uGender{{::user.id}}"
                  ng-change="vm.update({id: user.id, gender: user.gender})"
                  ng-model="user.gender"
                  class="tbody__select"
          >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="tbody__item tbody__item--language">
          <input
                 name="uLanguage{{::user.id}}"
                 ng-model-options="{updateOn: 'blur'}"
                 ng-change="vm.update({id: user.id, language: user.language})"
                 type="text"
                 ng-model="user.language"
                 class="tbody__input"
                 ng-class="{ 'tbody__input--error' : userTable.uLanguage{{::user.id}}.$invalid }"
                 required
                 ng-minlength="2"
          >
        </div>
        <div class="tbody__item tbody__item--remove">
          <input type="button" ng-click="vm.remove(user.id)" class="tbody__remove-btn">
        </div>

      </div>

    </div>
  </form>
</div>



