dashboard-table-inputs {


  .heading {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 42px;
  }

  .table {
    font-size: 13px;
  }
  .table__col {
    position: relative;
    padding-bottom: 41px;
    width: 110px;
  }
  .table__label:first-child {
    margin-right: 7px;
  }
  .table__input-text {
    border: 1px #ccc solid;
    border-radius: 3px;
    padding: 5px;
  }
  .table__input-radio {
    position: relative;
    top: 2px;
  }
  .table__error-text {
    position: relative;
    top: 10px;
    display: block;
    color: $error;
  }

  .table__submit-btn  {
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    background: #50c14e;
    padding: 8px 21px 8px 21px;
    border: 0;
    text-decoration: none;
  }
  .table__submit-btn:hover {
    background: #56c752;
    text-decoration: none;
  }
  .table__submit-btn--disabled {
    cursor: default;
    opacity: 0.3;
  }


}



