
<script type="text/ng-template" id="validation-error-messages">
  <span ng-message="required">Required field</span>
  <span ng-message="minlength">Your field is too short</span>
  <span ng-message="maxlength">Your field is too long</span>
</script>


  <h2 class="heading">Add new user</h2>

<form name="newUser" ng-submit="vm.add(vm.newUser, newUser)" novalidate>
    <table class="table">

      <tr class="table__row">
        <td class="table__col">First Name</td>
        <td class="table__col">
          <input
            type="text"
            name="nFirstName"
            ng-model="vm.newUser.first_name"
            ng-model-options="{ debounce: 200 }"
            class="table__input-text"
            required
            ng-minlength="2"
            ng-maxlength="15"
            >

          <span
                class="table__error-text"
                ng-messages="newUser.nFirstName.$error"
                ng-show="newUser.nFirstName.$touched"
                role="alert">
            <span ng-messages-include="validation-error-messages"></span>
          </span>
        </td>
      </tr>

      <tr class="table__row">
        <td class="table__col">Last Name</td>
        <td class="table__col">
          <input
            type="text"
            name="nLastName"
            ng-model="vm.newUser.last_name"
            ng-model-options="{ debounce: 200 }"
            class="table__input-text"
            required
            ng-minlength="2"
            ng-maxlength="15"
            >

          <span
                class="table__error-text"
                ng-messages="newUser.nLastName.$error"
                ng-show="newUser.nLastName.$touched"
                role="alert">
            <span ng-messages-include="validation-error-messages"></span>
          </span>
        </td>
      </tr>

      <tr class="table__row">
        <td class="table__col">Username</td>
        <td class="table__col">
          <input
            type="text"
            name="mUsername"
            ng-model="vm.newUser.user_name"
            ng-model-options="{ debounce: 200 }"
            class="table__input-text"
            required
            ng-minlength="2"
            ng-maxlength="15"
            >

          <span
                class="table__error-text"
                ng-messages="newUser.mUsername.$error"
                ng-show="newUser.mUsername.$touched"
                role="alert">
            <span ng-messages-include="validation-error-messages"></span>
          </span>
        </td>
      </tr>

      <tr class="table__row">
        <td class="table__col">Gender</td>
        <td class="table__col">
          <label class="table__label">
           <input
             type="radio"
             name="nGender"
             ng-model="vm.newUser.gender"
             value="Male"
             class="table__input-radio"
             required
             >
           Male
          </label>
          <label class="table__label">
            <input
              type="radio"
              name="nGender"
              ng-model="vm.newUser.gender"
              value="Female"
              class="table__input-radio"
              required
              >
            Female
          </label>
        </td>
      </tr>

      <tr class="table__row">
        <td class="table__col">Language</td>
        <td class="table__col">
          <input
            type="text"
            name="nLanguage"
            ng-model="vm.newUser.language"
            ng-model-options="{ debounce: 200 }"
            class="table__input-text"
            required
            ng-minlength="2"
            >

          <span
                class="table__error-text"
                ng-messages="newUser.nLanguage.$error"
                ng-show="newUser.nLanguage.$touched"
                role="alert">
            <span ng-messages-include="validation-error-messages"></span>
          </span>
        </td>
      </tr>

      <tr class="table__row">
        <td class="table__col"></td>
        <td class="table__col">
          <input
            ng-class="{ 'table__submit-btn--disabled': newUser.$invalid }"
            ng-disabled="newUser.$invalid"
            type="submit"
            value="Submit"
            class="table__submit-btn">
        </td>
      </tr>

    </table>
  </form>



