dashboard-table {
  display: block;


  .heading {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 36px;
  }


  .shearch {
    position: relative;
    margin-bottom: 16px;
    margin-left: 4px;
  }
  .shearch:after {
    content: '';
    position: absolute;
    background-image: url(../../images/icon-loupe.png);
    top: 6px;
    left: 7px;
    width: 24px;
    height: 26px;
  }
  .shearch__input {
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: $fadedText;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 225px;
  }


  .availability {
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $fadedText;
    text-transform: uppercase;
  }



  .table {
    font-size: 13px;
  }
  .tbody {
    height: 350px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .tbody__row {
    margin-bottom: 5px;
    margin-right:12px;
    border-bottom: 1px #ccc solid;
  }
  .tbody__row--active {
    color: #fff;
    background-color: #50c14e;
    //border-radius: 6px;
  }


  .tbody__item, .thead__item {
    display: inline-block;
    width: 107px;
  }
  .tbody__item:first-child, .thead__item:first-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tbody__item {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
  }
  .tbody__item--language {
    width: 120px;
  }
  .thead__item {
    color: $fadedText;
    margin-bottom: 25px;
    margin-top:10px;
  }
  .tbody__item--id, .thead__item--id {
    text-transform: uppercase;
    width: 30px;
  }
  .tbody__item--remove {
    width:25px;
    margin-left:5px;
    height: 20px;
    line-height: 20px;
  }



  .tbody__input, .tbody__select  {
    width: 90%;
    margin-right: 10%;
    border-radius: 3px;
    border: 0;
  }
  .tbody__input--error {
    box-shadow: 0 0 0 1px $error;
  }
  .tbody__select  {
    padding: 3px;
  }
  .tbody__input {
    padding: 4px;
  }
  .tbody__remove-btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: none;
    background-image: url(../../images/icon-remove.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .tbody__row--active .tbody__remove-btn {
    background-position: -20px 0;
  }

  /* Animation */
  .tbody__row.ng-enter {
    opacity: 0;
    color: #fff;
    background-color: #50c14e;
    transition: all 2s ease;
  }
  .tbody__row.ng-enter-active {
    opacity: 1;
    color: #000;
    background-color: #fff;
  }



}



