.dashboard {
  position: relative;
  background-color: #fff;
  width: 1100px;
  margin: 0 auto;
  border-radius: 6px;
  margin-top:50px;
  padding-top:50px;
  padding-bottom: 60px;

  font-family: Arial, Helvetica, sans-serif;
  color: $mainText;

  .dashboard__col-left, .dashboard__col-right {
    float:left;
    position: relative;
    min-height: 50px;
  }
  .dashboard__col-left {
    width: 350px;
    margin-left: 30px;
    margin-right:20px;
  }
  .dashboard__col-right {
    width: 670px;
    margin-right: 30px;
  }

  .divider {
    width: 100%;
    height:2px;
    background-color: #ededed;
  }

}
