
<div class="dashboard">

  <div class="clearfix">

    <div class="dashboard__col-left">
      <dashboard-table-inputs on-add="vm.add(newUser)"></dashboard-table-inputs>
    </div>

    <div class="dashboard__col-right">
      <dashboard-table users="vm.list" on-update="vm.update(user)" on-remove="vm.remove(id)"></dashboard-table>
    </div>

  </div>

</div>
